.menu-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.picture{
    flex-basis: 5%;
}

.full-name{
    flex-basis: 15%; 
    margin-top: 6px;
    font-family: inherit;
    color: #ffffff;
    font-size: 0.9em;
    font-weight: bold;
}

.separateur{
    color: #000;
    font-size: 1em;
    margin-top: 5px;
    flex-basis: 3%;
}

.menu{
    flex-basis: 7%;
    margin-top: 6px;
    font-family: inherit;
    color: #ffffff;
    font-size: 0.9em;
    font-weight: bold;
}
