.OnePost{
    width: 98%;
    margin-bottom: 20px;
}

.title{
    color: #385898;
    font-family: inherit;
    float: left;
    margin-top: 12px;
    margin-bottom: 15px;
}

.description{
    float: left;
    color: #111;
    margin-bottom: 10px;
    text-align: justify;
}

.photo-pub{
    width: 80%;
    height: 300px;
}