.SidebarRight{
    position: fixed;
}

.friends-search{
    position: relative;
    left: 0px;
    top: 24px;
    width: 115%;
}

/* .profile{
    flex-basis: 5%;
}

.name{
    flex-basis: 40%; 
    margin-top: 6px;
    font-family: inherit;
    color: #000;
    font-size: 0.9em;
    font-weight: bold;
}

.status{
    flex-basis: 30%;
    margin-top: 5px;
}
 */
